# Server Config
PORT=8080
DATABASE_PATH=app.db
APP_URL=https://globalchat.co.ke

# Admin Security
ADMIN_EMAIL=admin@globalchat.co.ke

# CloudPay Live Credentials
CLOUDPAY_API_KEY=ck_live_7baf63a3b56b101a94e4bf73e8b1ed74aba042cad195d6b8dfada364
CLOUDPAY_MERCHANT_ID=3200190
CLOUDPAY_WEBHOOK_SECRET=whsec_6ce06f46b1d887f1e1b15a3b972c9996095a9a52c8