# Server Config
PORT=8080
DATABASE_PATH=app.db
APP_URL=https://globalchat.co.ke

# Admin Security
ADMIN_EMAIL=admin@globalchat.com

# CloudPay Live Credentials
CLOUDPAY_CONSUMER_KEY=12b70e1b9f1f7983b5188e964969b7fc
CLOUDPAY_CONSUMER_SECRET=0813163f531550fa57e078ce53f8f929ab3ea21ac088f8e5
CLOUDPAY_MERCHANT_ID=3200190
CLOUDPAY_WEBHOOK_SECRET=whsec_6ce06f46b1d887f1e1b15a3b972c9996095a9a52c8



SUPABASE_URL=https://pgajkbhzaklyelpgpzsm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnYWprYmh6YWtseWVscGdwenNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxNDEzMDMsImV4cCI6MjEwNDcxNzMwM30.P7kIstJZxHmAFOOVmWgNDOHeWsXdydDvTC3hGvJ1LSY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnYWprYmh6YWtseWVscGdwenNtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTE0MTMwMywiZXhwIjoyMTA0NzE3MzAzfQ.WVGbIj_wXE7nMdrW3YwK2D7bqoglkGFq5q4vzZR-_E4